<h1>Welcome message</h1> 
    <form action="/signOut" method="POST">
        <button id="signOut">signOut</button>
    </form>
<div>
    <form action="/tasks" method="POST">
        <select class="category" name="category" id="category">
            <option value="Restaurant">Food</option>
            <option value="Public Library">Study/Work</option>
            <option value="Park">Work Out</option>
            <option value="Amusement Center">Fun</option>
        </select>
        <textarea class="task" name="task"></textarea>
        <button id="createTask">createTask</button>
    </form>
</div>

<div> 
    <div>
        {{#each tasks}}
        <form action="/delete" method="POST">
            <input name="task" value="{{this.task}}" style="display:none;">
            <button value="{{this.task}}" id="delete">x</button>
        </form>
            <h3 >{{this.category}}</h3>
            <div>{{this.task}}</div>
            <form action="/map" method="POST">
                <button onClick="setSearchValue(this.value)" value="{{this.category}}">view map</button>
            </form>
        {{/each}}
    </div>
</div>

<h2>show the users signed up</h2>
    <ul id="users">

    </ul>

<script src="/js/index.js"></script>